<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.LoginMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.entity.User">
<!--        <id column="user_name" jdbcType="VARCHAR" property="user_name" />-->
<!--        <result column="password" jdbcType="VARCHAR" property="password" />-->
    </resultMap>

    <insert id="regist" parameterType="java.lang.String">
        INSERT INTO `user`
        SET user_name = #{user_name},
            `password` = #{password}
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>
</mapper>
